/*.form {
    text-align: center;
    width: 1500px;
    height: 100%;
    background-color: antiquewhite;
    
}

.test {
    padding: 18px;
    margin: 0px;
    font-size: large;
    background-color: burlywood;
    height: 70px;
}*/
.mat-stepper-vertical {
    margin-top: 8px;
  }
  
  .mat-form-field {
    margin-top: 16px;
  }