<nav class="navbar navbar-expand-sm bg-dark fixed-top">
    <ul class="navbar-nav">
        <li class="nav-item">   
            <a class="navbar-brand" > <img alt="logo" width="60px" src="https://png.pngtree.com/png-vector/20190909/ourlarge/pngtree-ninja-e-sports-logo-vector-illustration-ninja-gaming-mascot-png-image_1726562.jpg"> <strong>My midterm project</strong> </a>
        </li>
    </ul>
    <ul class="navbar-nav">
        <li class="nav-item">   
            <a class="nav-link" routerLink='/post-list'> <strong class="font-weight-normal">Posts</strong> </a>
        </li>
    </ul>
    
    <ul class="navbar-nav">
        <li class="nav-item">   
            <a class="nav-link" routerLink='/post-filter'> <strong><pre class="navbar-nav nav-item nav-link text-primary font-weight-normal">Filter post by Id</pre></strong> </a>
        </li>
    </ul>

    <ul class="navbar-nav">
        <li class="nav-item">   
            <a class="nav-link" routerLink='/post-create'> <strong><pre class="navbar-nav nav-item nav-link text-primary font-weight-normal">Create a post</pre></strong> </a>
        </li>
    </ul>

    <ul class="navbar-nav">
        <li class="nav-item">   
            <a class="nav-link" routerLink='/user-list'> <strong class="font-weight-normal">Users</strong> </a>
        </li>
    </ul>

    <ul class="navbar-nav">
        <li class="nav-item">   
            <a class="nav-link" routerLink='/albums-list'> <strong class="font-weight-normal">Albums</strong> </a>
        </li>
    </ul>

    <ul class="navbar-nav ">
        <li class="nav-item ">   
            <a class="nav-link " routerLink='/comments'> <strong class="font-weight-normal">Comments</strong> </a>
        </li>
    </ul>
  
    <ul class="navbar-nav "  id="logoutbtn">
        <li class="nav-item ">   
            <a class="nav-link " role="button" (click)="logOut()"> <button class="btn btn-primary float-right"  > <strong>Logout</strong> </button> </a>
        </li>
    </ul>
</nav>